POSTGRES_HOST=localhost
POSTGRES_DB=emg_platform
POSTGRES_USER=emg_admin
POSTGRES_PASSWORD=emg_admin
POSTGRES_PORT=5432
AIRFLOW_PORT=8080
AIRFLOW_UID=50000
AIRFLOW_ADMIN_USERNAME=airflow
AIRFLOW_ADMIN_PASSWORD=airflow
LOG_LEVEL=INFO
